@(form: Form[models.Login])
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Jeopardy! - Login</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")" />
    </head>

    <body id="login-page">
        <a class="accessibility" href="#login">@Messages("view.authentication.gotologin")</a>
        <a class="accessibility" title="@Messages("view.authentication.toreg")" href="@routes.Application.registration()" accesskey="r">
            Registrieren</a>
            <!-- Header -->
        <header role="banner" aria-labelledby="bannerheading">
            <h1 id="bannerheading">
                <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
            </h1>
        </header>

        <!-- steuerung über Browser
        @helper.form(action=routes.Application.changeLanguage()){
            <p >@Messages("view.authentication.selectlang")</p>
            <select id="language" name="language">
                <option value="de">Deutsch</option>
                <option value="en">English</option>
            </select>
            <input type="submit" name="changeLan" id="changeLan" class="greenlink formlink clickable" value="@Messages("view.authentication.changelan")" />
                }
        -->

        <!-- Content -->
        <div role="main">
            <section id="login" aria-labelledby="loginheading">
                <h2 id="loginheading" class="accessibility">Login</h2>
                @helper.form(action = routes.Application.authenticate()) {
                    <fieldset>
                        <legend id="logindata">Login</legend>
                        <label for="username">@Messages("view.authentication.user"):</label>
                        <input name="username" id="username" type="text" required="required"/>
                        <label for="password">@Messages("view.authentication.password"):</label>
                        <input name="password" id="password" type="password" required="required"/>
                        <input name="login" id="loginsubmit" class="greenlink formlink clickable" type="submit" value="@Messages("view.authentication.submit")"/>
                    </fieldset>
                }

                    <!-- "message" wird im intellij als fehler angezeigt ist aber gültig und funktioniert.. -->
                @if(form.hasGlobalErrors) {
                    <p align="center">
                    @Messages("view.authentication.loginerror")
                    </p>
                }
                    <!-- "flash" wird im intellij als fehler angezeigt ist aber gültig und funktioniert.. -->
                @if(flash.contains("success")) {
                    <p class="success">
                    @flash.get("success")
                    </p>
                }
            </section>
                <!-- Register section -->
            <section id="registerforward" aria-labelledby="registerheading">
                <h2 id="registerheading" class="accessibility">Registrierung</h2>
                <p id="registerhint">@Messages("view.authentication.registerhint")</p>
                <a class="contentlink orangelink" title="@Messages("view.authentication.toreg.hover")" href="@routes.Application.registration()" accesskey="r"> @Messages("view.authentication.toreg")</a>
            </section>
        </div>

            <!-- footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy</footer>
    </body>
</html>
