@(gameStats: GameStats)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Jeopardy! - @Messages("view.jeopardy.questionchoose")</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")" />
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
    </head>
    <body id="selection-page">
        <a class="accessibility" href="#question-selection">@Messages("view.jeopardy.jump")</a>
            <!-- Header -->
        <header role="banner" aria-labelledby="bannerheading">
            <h1 id="bannerheading">
                <span class="accessibility">Business Informatics Group </span> <span class="gametitle">Jeopardy!</span>
            </h1>
        </header>

            <!-- Navigation -->
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">@Messages("view.jeopardy.navi")</h2>
            <ul>
                <li><a class="orangelink navigationlink" id="logoutlink" title="@Messages("view.jeopardy.abmelden.hover")" href="@routes.SecureArea.logout()" accesskey="l">
                    @Messages("view.jeopardy.logout")</a></li>
            </ul>
        </nav>

            <!-- Content -->
        <div role="main">
                <!-- info -->
            <section id="gameinfo" aria-labelledby="gameinfoinfoheading">
                <h2 id="gameinfoinfoheading" class="accessibility">@Messages("view.jeopardy.playerinfo")</h2>
                <section id="firstplayer" class="playerinfo leader" aria-labelledby="firstplayerheading">
                    <h3 id="firstplayerheading" class="accessibility">@Messages("view.jeopardy.leadingPlayer")</h3>
                    <img class="avatar" src="@routes.Assets.at("images/avatar/" + gameStats.getGame().getHuman().getAvatar().getImageHead())" alt="Spieler-Avatar @gameStats.getGame().getHuman().getAvatar().getName()" />
                    <table>
                        <tr>
                            <th class="accessibility">@gameStats.getGame().getHuman().getName()</th>
                            <td class="playername">@gameStats.getGame().getHuman().getAvatar().getName() (@Messages("view.jeopardy.you"))</td>
                        </tr>
                        <tr>
                            <th class="accessibility">@Messages("view.jeopardy.score")</th>
                            <td class="playerpoints">@gameStats.getGame().getHumanPlayer().getProfit() €</td>
                        </tr>
                    </table>
                </section>
                <section id="secondplayer" class="playerinfo" aria-labelledby="secondplayerheading">
                    <h3 id="secondplayerheading" class="accessibility">@Messages("view.jeopardy.secondplayer")</h3>
                    <img class="avatar" src="@routes.Assets.at("images/avatar/" + gameStats.getGame().getMarvin().getAvatar().getImageHead())" alt="Spieler-Avatar @gameStats.getGame().getMarvin().getAvatar().getName()" />
                    <table>
                        <tr>
                            <th class="accessibility">@Messages("view.jeopardy.playername")</th>
                            <td class="playername">@gameStats.getGame().getMarvin().getName()</td>
                        </tr>
                        <tr>
                            <th class="accessibility">@Messages("view.jeopardy.score")</th>
                            <td class="playerpoints">@gameStats.getGame().getMarvinPlayer().getProfit() €</td>
                        </tr>
                    </table>
                </section>
                <p id="round">@Messages("view.jeopardy.question"): @gameStats.getCurrentRound() / @gameStats.getGame().getMaxQuestions()</p>
            </section>

                <!-- Question -->
            <section id="question-selection" aria-labelledby="questionheading">
                <h2 id="questionheading" class="black accessibility">Jeopardy</h2>

                @if(gameStats.getCurrentRound() > 0) {

                    @if(gameStats.getLastHumanQuestion().isCorrect()) {
                        <p class="user-info positive-change positive-change">
                            @Messages("view.jeopardy.correctAnswer") @gameStats.getGame().getHumanPlayer().getLatestProfitChange() &euro;
                        </p>
                    } else {
                        <p class="user-info negative-change">
                            @Messages("view.jeopardy.wrongAnswer2") @gameStats.getGame().getHumanPlayer().getLatestProfitChange() &euro;
                        </p>
                    }

                    @if(gameStats.getLastMarvinQuestion().isCorrect()) {
                        <p class="user-info positive-change">
                            @gameStats.getGame().getMarvin().getName()
                            @Messages("view.jeopardy.correctAnswer2") @gameStats.getGame().getMarvinPlayer().getLatestProfitChange() &euro;
                        </p>
                    } else {
                        <p class="user-info negative-change">
                            @gameStats.getGame().getMarvin().getName()
                            @Messages("view.jeopardy.wrongAnswer") @gameStats.getGame().getMarvinPlayer().getLatestProfitChange() &euro;
                        </p>
                    }

                    <p class="user-info">
                        @gameStats.getGame().getMarvin().getName()
                        @Messages("view.jeopardy.hat") @gameStats.getLastMarvinQuestion().getQuestion().getCategory().getName() @Messages("view.jeopardy.fuer") @gameStats.getLastMarvinQuestion().getQuestion().getValue() &euro; @Messages("view.jeopardy.gewaehlt").
                    </p>
                }
                @helper.form(action = routes.SecureArea.question()) {
                    <fieldset>
                        <legend class="accessibility">@Messages("view.jeopardy.questionchoose")</legend>
                        @for(c <- gameStats.getGame().getCategories()) {
                            <section class="questioncategory" aria-labelledby="@c.getName()heading">
                                <h3 id="@c.getName()heading" class="tile category-title"><span class="accessibility">@Messages("view.jeopardy.category") </span> @c.getName()</h3>

                                <ol class="category_questions">
                                @for(q <- c.getQuestions()) {
                                    <li><input name="question_selection" id="question_@q.getId()" value="@q.getId()" @gameStats.getDisabledAttribute(q.getId()) type="radio"> <label class="tile clickable" for="question_@q.getId">&euro; @q.getValue()</label></li>
                                }
                                </ol>
                            </section>
                        }
                    </fieldset>
                    <input class="greenlink formlink clickable" name="question_submit" id="next" type="submit" value="@Messages("view.jeopardy.waehlen")" accesskey="s" />
                }
            </section>

            <section id="lastgame" aria-labelledby="lastgameheading">
                <h2 id="lastgameheading" class="accessibility">@Messages("view.jeopardy.lastgameinfo")</h2>
                <p> @Messages("view.jeopardy.lastgame")</p>
            </section>
        </div>

            <!-- footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy!</footer>

        <script type="text/javascript">
            //<![CDATA[
            
            // initialize time
            $(document).ready(function() {
                // set last game
                if(supportsLocalStorage()) {
	                var lastGameMillis = parseInt(localStorage['lastGame'])
	                if(!isNaN(parseInt(localStorage['lastGame']))){
	                    var lastGame = new Date(lastGameMillis);
	                	$("#lastgame p").replaceWith('<p>@Messages("view.jeopardy.lastgameinfo")<time datetime="'
	                			+ lastGame.toUTCString()
	                			+ '">'
	                			+ lastGame.toLocaleString()
	                			+ '</time></p>')
	                }
            	}
            });            
            //]]>
        </script>
    </body>
</html>
